body {
  margin: 10px;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 21px;
}

h1 {
  padding-top: 1em;
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

p, dd, dl {
  margin-top: 0;
  margin-bottom: 1em;
}

.page {
  width: 100%;
  max-width: 840px;
  margin-bottom: 2em;
  page-break-after: always;
}

h1 {
  text-align: center;
  clear: both;
}

h2 {
  color: darkblue;
}

@media (min-width: 850px) {
  .section-left {
    width: 45%;
    float: left;
  }

  .section-right {
    width: 45%;
    float: right;
  }
}

@media (min-width: 850px) {
  .title-and-dates {
    text-align: right;
    position: relative;
  }
  .title-and-dates .title {
    left: 0;
    position: absolute;
  }
  .title-and-dates .dates {
    color: black;
    font-variant: small-caps;
    font-size: 21px;
  }
}

@media (max-width: 850px) {
  .title-and-dates {
  }
  .title-and-dates .title {
    display: block;
  }
  .title-and-dates .dates {
    display: block;
    color: black;
    font-variant: small-caps;
    font-size: 21px;
  }
}

@media print {
  body, .title-and-dates .dates {
    font-size: 17px;
  }
}

@media print {
  .item {
    page-break-inside: avoid;
  }
}

@page {
  margin: 1.5cm;
  @bottom-left {
    content: "Department of Strategy";
  }
  @bottom-right {
    content: counter(page) " of " counter(pages);
  }
}

@media xprint {
  body {
    margin: 30px;
  }
}
